<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Flask Web Forum!</title>
	<link rel="stylesheet" type="text/css" href="/static/css.css" />
	<link rel="icon" href="/static/favicon.ico">
	<meta http-equiv="refresh" content="200">
	<meta property="og:description" content="TxT Board">
</head>

	<body>
		
		<div class="container">
			
			<header class="main-header">
				<img src="/static/fwftxtboard.webp" class="logo" alt="Flask Web Forum"/>
			</header>
			
			<section class="main-section">
				<header class="section-header">
					<h2 class="section-title">Your message</h2>
				</header>
				
				<form method="post">
				
					{{ form.hidden_tag() }}
					{{ form.text_content(class="seamless-text-input", placeholder="Type your message here...") }}
					
					<div class="button-row">
						{{ form.submit(value="Post") }}
					</div>
				
				</form>
			
			</section>

			<section class="main-section">
				
				{% for comment in post["allposts"] %}
					<article class="post">
						<header class="post-header">
							<h2 class="post-title">Post #{{ comment.id }} </h2>
							{% if myIp == comment.ipHash %}
								{{ ' <span class="badge">Your Post</span>'|safe}}
							{% endif %}
								<span class="badge">{{ comment.ipHash  }}</span>
								<span class="badge">{{ comment.timestamp  }}</span>
						
						</header>
						<p class="post-content">
							{{ comment.content }}
							
						</p>
					</article>
				{% endfor %}

			</section>

		</div>

	</body>

</html>
